package ${package.Entity};

#foreach($pkg in ${table.importPackages})
import ${pkg};
#end
import lombok.Data;

/**
 * <p>
 * $!{table.comment}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Data
@TableName("${table.name}")
public class ${entity} implements Serializable {
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${fieldList})

#if(${field.keyFlag})
#set($keyPropertyName=${field.propertyName})
#end
#if("$!field.fieldComment" != "")
    /**
     * ${field.fieldComment}
     */
#end
#if(${field.primaryKey})
## 主键
  #if(${field.primaryKey})
    @TableId(value = "${field.fieldName}", type = IdType.AUTO)
  #end
## 普通字段
#else
## -----   存在字段填充设置   -----
  #if(${field.convert})
    @TableField(value = "${field.fieldName}", fill = FieldFill.${field.autoFill})
  #elseif(${field.fill})
    @TableField(fill = FieldFill.${field.autoFill})
  #end
    @TableField(value = "${field.fieldName}")
#end
    private ${field.attrType} ${field.attrName};
#end
}
