package ${packageName};

## 导入语句
#foreach( $importItem in $importItems)
import $importItem;
#end

/**
 * @author vonline
 **/
public class ${className} #if("$!superClass" != "") extends ${superClass} #end #if("$superInterfaces" != "") implements #foreach( $si in $superInterfaces) ${si} #end #end {

#foreach( $field in $fields)
    #if(${field.commentOn})
    /**
     * ${field.comment}
     **/
    #end
    @JsonAlias(value = "${field.name}")
    ${field.modifier} ${field.dataType} ${field.name};
#end

#foreach( $method in $methods)
    /**
     * ${field.comment}
     **/
    ${method.modifier} ${method.name};
#end
}
