<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.devpl.backend.dao.DataTypeItemMapper">

    <select id="listByGroupId" resultType="io.devpl.backend.entity.DataTypeItem">
        SELECT * FROM data_type_item
        <where>
            <if test="typeGroupId != null and typeGroupId != ''">
                AND type_group_id = #{typeGroupId}
            </if>
        </where>
    </select>

    <select id="listByCondition" resultType="io.devpl.backend.entity.DataTypeItem">
        SELECT * FROM data_type_item
        <where>
            <if test="typeGroupId != null and typeGroupId != ''">
                AND type_group_id = #{param.typeGroupId}
            </if>
        </where>
    </select>
    <select id="listByIds" resultType="io.devpl.backend.entity.DataTypeItem">
        SELECT * FROM data_type_item
        <where>
            <if test="ids != null and ids.size() > 0">
                AND id IN
                <foreach item="item" index="index" collection="ids" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
